
.Racing-Sans-One-font{
    font-family: 'Racing Sans One', cursive;
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}


.up-tittle-text{
    font-size: 50px;
}
.tittle-text{
    font-size: 100px;
    color: #F7746D;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 50px 150px;
}
.half-width img{
    width: 95%;
}
.button{
    text-decoration: none;
    font-weight: 700;
    padding: 10px 40px;
    background-color: #F7746D;
    color: aliceblue;
    border-radius: 10px;
    background-image: linear-gradient( #fdd8a1, #F7746D);
}
#section-1{
    background-image: url(background/bg\ 1.png);
    background-repeat: no-repeat;
    background-size: 280px;
}

#section-2-tittle{
    font-size: 70px;
    text-align: center;
}
#year-color{
    color: #F7746D;
}
.box{
    width: 400px;
    background-color: #ffe0de ;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
.box img{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}
#color-1{
    background-color: #c6ffe8;
}
#color-2{
    background-color: #f5ffde;
}
