
.Racing-Sans-One-font{
    font-family: 'Racing Sans One', cursive;
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}


.up-tittle-text{
    font-size: 50px;
    color: #283c44;
}
.tittle-text{
    font-size: 90px;
    color: #F7746D;
}
#front-line{
    border-left: 5px solid #F7746D;
    padding: 5px;
    border-radius: 5px;
    
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 50px 150px;
}
.half-width img{
    width: 100%;
}
.button{
    text-decoration: none;
    font-weight: 700;
    padding: 10px 40px;
    background-color: #F7746D;
    color: aliceblue;
    border-radius: 15px;
    background-image: linear-gradient( #fdd8a1, #F7746D);
}
#section-1{
    background-image: url(background/bg\ 1.png);
    background-repeat: no-repeat;
    background-size: 280px;
}

#section-2-tittle{
    font-size: 70px;
    color: #283c44;
    text-align: center;
}
#year-color{
    color: #F7746D;
}
.box-tittle{
    color: #F7746D;
}
.box{
    width: 400px;
    background-color: #ffe0de ;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}
.box img{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}
#color-1{
    background-color: #c6ffe8;
}
#color-2{
    background-color: #f5ffde;
}
.section-image{
    padding: 80px 0 0 0;
}
#section-3{
    background-image: url(background/bg\ 3.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position:right;
}
#section-4{
    background-image: url(background/bg\ 4.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: right;
}
.mission-text{
    padding: 50px;
    font-size: 35px;
}
#section-5{
    background-image: url(background/bg\ 5.png);
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size: 100%;
    color: ivory;
}
#logo{
    display: block;
    margin: auto;
    width: 500px;
    padding: 100px;
    background-image: url(background/dot.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100px;
    
}
#bottom-text{
    text-align: center;
    font-size: 50px;
}
.footer{
    text-align: center;
}
#footer-section{
    background-image: url(background/footer-bg.png);
    color: lightgray;
    padding: 2px;
}

.love{
    border-left: 10px solid;
    text-align: cender;
}